In [1]:
import pandas as pd

In [22]:
df=pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [10]:
df.shape

(200, 5)

In [23]:
df.isna().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.1+ KB

In [25]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [26]:
from sklearn.preprocessing import LabelEncoder
l_e=LabelEncoder()
df["Gender"]=l_e.fit_transform(df["Gender"])

In [27]:
df["Gender"]

0      1
1      1
2      0
3      0
4      0
      ..
195    0
196    0
197    1
198    1
199    1
Name: Gender, Length: 200, dtype: int32

In [28]:
x=df.drop(columns={"Spending Score (1-100)"}, axis=0)
y=df["Spending Score (1-100)"]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(x)

# Specify the number of clusters (groups)
num_clusters = 3

# Initialize KMeans object
kmeans = KMeans(n_clusters=num_clusters, random_state=42)

# Fit the KMeans model to the scaled data
kmeans.fit(scaled_data)

# Get cluster labels
cluster_labels = kmeans.labels_

# Print cluster labels for each customer
for i, label in enumerate(cluster_labels):
    print(f"Customer {i+1} is assigned to cluster {label+1}")

/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/lib/python3.11/site-packages/threadpoolctl.py:1019: RuntimeWarning: libc not found. The ctypes module in Python 3.11 is maybe too old for this OS.
  warnings.warn(

Customer 1 is assigned to cluster 1
Customer 2 is assigned to cluster 1
Customer 3 is assigned to cluster 1
Customer 4 is assigned to cluster 1
Customer 5 is assigned to cluster 1
Customer 6 is assigned to cluster 1
Customer 7 is assigned to cluster 1
Customer 8 is assigned to cluster 1
Customer 9 is assigned to cluster 3
Customer 10 is assigned to cluster 1
Customer 11 is assigned to cluster 3
Customer 12 is assigned to cluster 1
Customer 13 is assigned to cluster 3
Customer 14 is assigned to cluster 1
Customer 15 is assigned to cluster 1
Customer 16 is assigned to cluster 1
Customer 17 is assigned to cluster 1
Customer 18 is assigned to cluster 1
Customer 19 is assigned to cluster 3
Customer 20 is assigned to cluster 1
Customer 21 is assigned to cluster 1
Customer 22 is assigned to cluster 1
Customer 23 is assigned to cluster 1
Customer 24 is assigned to cluster 1
Customer 25 is assigned to cluster 3
Customer 26 is assigned to cluster 1
Customer 27 is assigned to cluster 1
Customer 28 is assigned to cluster 1
Customer 29 is assigned to cluster 1
Customer 30 is assigned to cluster 1
Customer 31 is assigned to cluster 3
Customer 32 is assigned to cluster 1
Customer 33 is assigned to cluster 3
Customer 34 is assigned to cluster 1
Customer 35 is assigned to cluster 3
Customer 36 is assigned to cluster 1
Customer 37 is assigned to cluster 1
Customer 38 is assigned to cluster 1
Customer 39 is assigned to cluster 1
Customer 40 is assigned to cluster 1
Customer 41 is assigned to cluster 3
Customer 42 is assigned to cluster 1
Customer 43 is assigned to cluster 3
Customer 44 is assigned to cluster 1
Customer 45 is assigned to cluster 3
Customer 46 is assigned to cluster 1
Customer 47 is assigned to cluster 3
Customer 48 is assigned to cluster 1
Customer 49 is assigned to cluster 1
Customer 50 is assigned to cluster 1
Customer 51 is assigned to cluster 3
Customer 52 is assigned to cluster 1
Customer 53 is assigned to cluster 1
Customer 54 is assigned to cluster 3
Customer 55 is assigned to cluster 3
Customer 56 is assigned to cluster 3
Customer 57 is assigned to cluster 3
Customer 58 is assigned to cluster 3
Customer 59 is assigned to cluster 1
Customer 60 is assigned to cluster 3
Customer 61 is assigned to cluster 3
Customer 62 is assigned to cluster 1
Customer 63 is assigned to cluster 3
Customer 64 is assigned to cluster 3
Customer 65 is assigned to cluster 3
Customer 66 is assigned to cluster 1
Customer 67 is assigned to cluster 3
Customer 68 is assigned to cluster 3
Customer 69 is assigned to cluster 1
Customer 70 is assigned to cluster 1
Customer 71 is assigned to cluster 3
Customer 72 is assigned to cluster 3
Customer 73 is assigned to cluster 3
Customer 74 is assigned to cluster 3
Customer 75 is assigned to cluster 3
Customer 76 is assigned to cluster 1
Customer 77 is assigned to cluster 3
Customer 78 is assigned to cluster 3
Customer 79 is assigned to cluster 1
Customer 80 is assigned to cluster 3
Customer 81 is assigned to cluster 3
Customer 82 is assigned to cluster 3
Customer 83 is assigned to cluster 3
Customer 84 is assigned to cluster 3
Customer 85 is assigned to cluster 1
Customer 86 is assigned to cluster 3
Customer 87 is assigned to cluster 3
Customer 88 is assigned to cluster 1
Customer 89 is assigned to cluster 1
Customer 90 is assigned to cluster 3
Customer 91 is assigned to cluster 3
Customer 92 is assigned to cluster 1
Customer 93 is assigned to cluster 3
Customer 94 is assigned to cluster 3
Customer 95 is assigned to cluster 1
Customer 96 is assigned to cluster 2
Customer 97 is assigned to cluster 3
Customer 98 is assigned to cluster 1
Customer 99 is assigned to cluster 3
Customer 100 is assigned to cluster 2
Customer 101 is assigned to cluster 1
Customer 102 is assigned to cluster 3
Customer 103 is assigned to cluster 3
Customer 104 is assigned to cluster 2
Customer 105 is assigned to cluster 3
Customer 106 is assigned to cluster 1
Customer 107 is assigned to cluster 3
Customer 108 is assigned to cluster 3
Customer 109 is assigned to cluster 3
Customer 110 is assigned to cluster 3
Customer 111 is assigned to cluster 3
Customer 112 is assigned to cluster 1
Customer 113 is assigned to cluster 2
Customer 114 is assigned to cluster 2
Customer 115 is assigned to cluster 2
Customer 116 is assigned to cluster 2
Customer 117 is assigned to cluster 3
Customer 118 is assigned to cluster 3
Customer 119 is assigned to cluster 3
Customer 120 is assigned to cluster 3
Customer 121 is assigned to cluster 2
Customer 122 is assigned to cluster 2
Customer 123 is assigned to cluster 2
Customer 124 is assigned to cluster 2
Customer 125 is assigned to cluster 2
Customer 126 is assigned to cluster 2
Customer 127 is assigned to cluster 2
Customer 128 is assigned to cluster 2
Customer 129 is assigned to cluster 3
Customer 130 is assigned to cluster 2
Customer 131 is assigned to cluster 2
Customer 132 is assigned to cluster 2
Customer 133 is assigned to cluster 2
Customer 134 is assigned to cluster 2
Customer 135 is assigned to cluster 2
Customer 136 is assigned to cluster 2
Customer 137 is assigned to cluster 2
Customer 138 is assigned to cluster 2
Customer 139 is assigned to cluster 2
Customer 140 is assigned to cluster 2
Customer 141 is assigned to cluster 3
Customer 142 is assigned to cluster 2
Customer 143 is assigned to cluster 2
Customer 144 is assigned to cluster 2
Customer 145 is assigned to cluster 2
Customer 146 is assigned to cluster 2
Customer 147 is assigned to cluster 2
Customer 148 is assigned to cluster 2
Customer 149 is assigned to cluster 2
Customer 150 is assigned to cluster 2
Customer 151 is assigned to cluster 2
Customer 152 is assigned to cluster 2
Customer 153 is assigned to cluster 2
Customer 154 is assigned to cluster 2
Customer 155 is assigned to cluster 2
Customer 156 is assigned to cluster 2
Customer 157 is assigned to cluster 2
Customer 158 is assigned to cluster 2
Customer 159 is assigned to cluster 2
Customer 160 is assigned to cluster 2
Customer 161 is assigned to cluster 2
Customer 162 is assigned to cluster 2
Customer 163 is assigned to cluster 2
Customer 164 is assigned to cluster 2
Customer 165 is assigned to cluster 2
Customer 166 is assigned to cluster 2
Customer 167 is assigned to cluster 2
Customer 168 is assigned to cluster 2
Customer 169 is assigned to cluster 2
Customer 170 is assigned to cluster 2
Customer 171 is assigned to cluster 2
Customer 172 is assigned to cluster 2
Customer 173 is assigned to cluster 2
Customer 174 is assigned to cluster 2
Customer 175 is assigned to cluster 2
Customer 176 is assigned to cluster 2
Customer 177 is assigned to cluster 2
Customer 178 is assigned to cluster 2
Customer 179 is assigned to cluster 2
Customer 180 is assigned to cluster 2
Customer 181 is assigned to cluster 2
Customer 182 is assigned to cluster 2
Customer 183 is assigned to cluster 2
Customer 184 is assigned to cluster 2
Customer 185 is assigned to cluster 2
Customer 186 is assigned to cluster 2
Customer 187 is assigned to cluster 2
Customer 188 is assigned to cluster 2
Customer 189 is assigned to cluster 2
Customer 190 is assigned to cluster 2
Customer 191 is assigned to cluster 2
Customer 192 is assigned to cluster 2
Customer 193 is assigned to cluster 2
Customer 194 is assigned to cluster 2
Customer 195 is assigned to cluster 2
Customer 196 is assigned to cluster 2
Customer 197 is assigned to cluster 2
Customer 198 is assigned to cluster 2
Customer 199 is assigned to cluster 2
Customer 200 is assigned to cluster 2

In [32]:
from sklearn.metrics import silhouette_score

# Compute silhouette score
silhouette_avg = silhouette_score(scaled_data, cluster_labels)
print(f"Silhouette Score: {silhouette_avg}")

# Get inertia
inertia = kmeans.inertia_
print(f"Inertia: {inertia}")

Silhouette Score: 0.3217788177867182
Inertia: 386.6085554259127